<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>sm1</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sm1</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>sm2</servlet-name>
        <servlet-class>SHomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sm2</servlet-name>
        <url-pattern>/SHome</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sm3</servlet-name>
        <servlet-class>ResetPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sm3</servlet-name>
        <url-pattern>/reset</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sm4</servlet-name>
        <servlet-class>Stable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sm4</servlet-name>
        <url-pattern>/table</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sm5</servlet-name>
        <servlet-class>AddStudent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sm5</servlet-name>
        <url-pattern>/Addstudent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sm6</servlet-name>
        <servlet-class>RemoveStudent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sm6</servlet-name>
        <url-pattern>/Removestudent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sm7</servlet-name>
        <servlet-class>Addatt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sm7</servlet-name>
        <url-pattern>/addatt</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sm8</servlet-name>
        <servlet-class>AddTeacher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sm8</servlet-name>
        <url-pattern>/Addteacher</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sm9</servlet-name>
        <servlet-class>RemoveTeacher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sm9</servlet-name>
        <url-pattern>/Removeteacher</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sm10</servlet-name>
        <servlet-class>SEdit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sm10</servlet-name>
        <url-pattern>/sedit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sm11</servlet-name>
        <servlet-class>TEdit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sm11</servlet-name>
        <url-pattern>/tedit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sm12</servlet-name>
        <servlet-class>logout2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sm12</servlet-name>
        <url-pattern>/logout2</url-pattern>
    </servlet-mapping>
    
</web-app>
